<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns = "http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
        <section
            name = "infoware.STX.Client"
            type = "Infoware.STX.Client.ConexionSection"
            allowDefinition = "Everywhere"
            restartOnExternalChanges = "true"/>
        <section
            name = "infoware.STX.Cajas1"
            type = "Infoware.STX.Client.ConexionSection"
            allowDefinition = "Everywhere"
            restartOnExternalChanges = "true"/>
        <section
            name = "infoware.STX.Cajas2"
            type = "Infoware.STX.Client.ConexionSection"
            allowDefinition = "Everywhere"
            restartOnExternalChanges = "true"/>
        <section
            name = "infoware.STX.Cajas3"
            type = "Infoware.STX.Client.ConexionSection"
            allowDefinition = "Everywhere"
            restartOnExternalChanges = "true"/>
    </configSections>
    <connectionStrings>
        <remove name = "LocalSqlServer"/>
    </connectionStrings>
    <appSettings>
        <add key = "Cliente" value = "1"/>
        <add key = "Proceso" value = "Perfil"/>
        <add key = "ProcesoOut" value = "PerfilOutput"/>
        <add key = "Basedatos" value = "Factura"/>
        <add key = "Servidor" value = "167.114.58.131"/>
        <add key = "UserId" value = "sa"/>
        <add key = "Clave" value = "Local123."/>
    </appSettings>
    <infoware.STX.Client
        servidor = "127.0.0.1"
        puerto = "20016"
        timeout = "180000"
        conexionPorTransaccion = "true"/>
    <infoware.STX.Cajas1
        servidor = "127.0.0.1"
        puerto = "20016"
        timeout = "180000"
        conexionPorTransaccion = "true"/>
    <infoware.STX.Cajas2
        servidor = "127.0.0.1"
        puerto = "20017"
        timeout = "180000"
        conexionPorTransaccion = "true"/>
    <infoware.STX.Cajas3
        servidor = "127.0.0.1"
        puerto = "20018"
        timeout = "180000"
        conexionPorTransaccion = "true"/>
    <system.web>
        <customErrors mode = "Off"/>
        <!--<roleManager enabled="true"  defaultProvider="AspNetWindowsTokenRoleProvider" />-->
        <compilation defaultLanguage = "c#" debug = "true">
            <assemblies>
               
                <add assembly = "Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <authentication mode = "Windows"/>
        <siteMap defaultProvider = "XmlSiteMapProvider" enabled = "true">
            <providers>
                <add
                    name = "XmlSiteMapProvider"
                    description = "Default SiteMap provider."
                    type = "System.Web.XmlSiteMapProvider"
                    siteMapFile = "web.sitemap"
                    securityTrimmingEnabled = "true"/>
            </providers>
        </siteMap>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value = "iisstart.htm"/>
                <remove value = "index.html"/>
                <remove value = "index.htm"/>
                <remove value = "Default.asp"/>
                <remove value = "Default.htm"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
